<nav>
  <h2><a href="/">HOME</a></h2>
  <ul>
    <li><a href="http://localhost:5200/login"> login </a></li>
    <li><a href="http://localhost:5200/register"> register </a></li>
    <li><a href="http://localhost:5200/mockRegister"> Practice </a></li>
  </ul>
</nav>
