<nav>
  <h2><a href="/">HOME</a></h2>
  <ul>
    <li><a href="http://localhost:5200/register"> register </a></li>
    <li><a href="http://localhost:5200/merch"> merch </a></li>
    <li><a href="http://localhost:5200/"> something </a></li>
    <li><a href="http://localhost:5200/"> something </a></li>
  </ul>
</nav>
