.mobileNav {
  display: grid;
  grid-template-rows: 2rem auto;
  grid-template-columns: 1fr;

  grid-template-areas:
    "a"
    "b";
}

.fullHeightContainer {
  position: fixed;
  inset: 0 0 0 0;
  grid-template-rows: 2rem calc(100svh - 2rem);
}

.navMobileContainer {
  grid-area: a;
  padding: 0 1rem;

  background-color: var(--color1);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
}

.hamburger div,
.hamburger div::before,
.hamburger div::after {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 2px;
  top: calc(50% - 1px);
  background-color: black;
}

.hamburger div::before,
.hamburger div::after {
  transform: translateY(6px);
}

.hamburger div::after {
  transform: translateY(-6px);
}
.navOpen div::before {
  display: none;
}

.navOpen div::after {
  transform: rotate(-90deg);
}

.navOpen div {
  transform: rotate(45deg);
}

.collapsableNavMenu {
  grid-area: b;
  justify-content: end;
  background-color: black;
}

.hideMobileNav {
  display: none;
}

.mobileNavList {
  padding: 0;
  margin: 0;
}

.mobileNavList li {
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-bottom: 1px solid white;
  color: white;
}

.geniusTitle {
  font-weight: 700;
}
