:root {
  /* COLORS */
  --color1: rgb(255, 255, 100);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  opacity: 0;
  animation: fadeIn 1750ms ease-in forwards;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  outline-color: transparent;
  border: none;
}

li {
  list-style-type: none;
}

body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
