<%= typeof msg != "undefined" ? msg : "" %>

<div>
  <h1>Upload image</h1>
  <form action="/murda" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name" />
    <input type="file" name="image" />
    <button>submit</button>
  </form>
</div>
