<%= typeof msg != "undefined" ? msg : "" %>

<div>
  <h1>Upload image</h1>
  <form action="/mockRegister" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name" />
    <br />
    <input type="text" name="height" placeholder="height" />
    <br />
    <input type="text" name="weight" placeholder="weight" />
    <br />
    <input type="text" name="eyeColor" placeholder="eyeColor" />
    <br />
    <input type="file" name="image" />
    <br />
    <button>submit</button>
  </form>
</div>
