<div>
  <h1>new News!</h1>
  <form action="/news" method="POST" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title" />
    <br />
    <input type="text" name="snippet" placeholder="snippet" />
    <br />
    <input type="text" name="article" placeholder="article" />
    <br />
    <input type="text" name="author" placeholder="author" />
    <br />
    <input type="text" name="photoAlt" placeholder="photoAlt" />
    <br />
    <input type="text" name="categories" placeholder="categories" />
    <br />
    <input type="text" name="referencedArtists" placeholder="referencedArtists" />
    <br />
    <input type="text" name="referencedSongs" placeholder="referencedSongs" />
    <br />
    <input type="file" name="image" />
    <br />
    <button>submit</button>
  </form>
</div>

<!-- id: v4(),
title: "Thundercat & Tame Impala Join Forces For New Song “No More Lies”",
snippet: "It’s Thundercat’s first collaboration with Tame Impala and first new song in more than three years.",
article: `Thundercat and Tame Impala have long been on similar wavelengths, so it makes sense they’ve finally teamed up for a song. Released earlier today, “No More Lies” is a funky psych-rock delight about an utterly doomed relationship. Crashing into a “world of pain,” as Thundercat sings at one point, has never sounded so fun. “I’ve wanted to work with Kevin since the very first Tame Impala album,” Thundercat said in a press release, shouting out Tame Impala multi-instrumentalist mastermind Kevin Parker. “I feel that I knew that us working together would be special. I’ve been excited about this song for a long time and hope to create more with Kevin in the future.” \n Parker and Thundercat (real name Stephen Bruner) share writing and production credit on the track, which features plenty of Thundercat’s signature squishy bass sounds. Thundercat handles the first verse and sets up a story of two people who seemingly aren’t ready to commit to each other. \n Also in the first verse, Thundercat introduces a car metaphor that he continues into the second verse, where he shoulders the blame for this couple’s troubles. (Let’s hope “I’m just kind of ass” enters the vernacular.) \n  On the chorus, Parker—presumably voicing the same character—gears up for a period of solitude, though Thundercat (lyrics marked with italics) opens up the possibility of a reconciliation. \n In the third verse, Thundercat is finally ready to cut bait on this thing. It’s not going to be easy, but like he says a few lines earlier, you can’t “look back to move forward.” \n The song ends with Thundercat talking to his soon-to-be ex, trying to explain himself as best he can. He does his best to not sound like a callous flake, but even he would admit he does a lousy job. Maybe it’s a West Coast thing.`,
author: "64550000aee4a462b127dc6e",
date: Date.now().toString(),
photo: "http://localhost:5200/images/cheetaRun.jpg",
photoAlt: "deer chasing a cheetah",
categories: ["News"],
referencedArtists: ["THUNDERCAT", "TAME IMPALA"],
referencedSongs: ["NO MORE LIES"],
isPublished: true, -->
