<form class="regUserForm">
  <h1>registerUser</h1>
  <label
    >username
    <input type="text" name="username" required />
  </label>
  <label
    >First name
    <input type="text" name="firstName" />
  </label>
  <label>
    Last name
    <input type="text" name="lastName" />
  </label>
  <label
    >age
    <input type="number" name="age" />
  </label>
  <label
    >phone
    <input type="text" name="phone" />
  </label>
  <label
    >email
    <input type="email" name="email" />
  </label>
  <label
    >password
    <input type="password" name="password" />
  </label>
  <label
    >repeat password
    <input type="password" name="confirmPassword" />
  </label>
  <label>
    Shipping Address
    <div>
      <label
        >number
        <input type="text" name="shippingAddress.number" />
      </label>
      <label
        >City
        <input type="text" name="shippingAddress.city" />
      </label>
      <label
        >State
        <input type="text" name="shippingAddress.state" />
      </label>

      <label
        >Zip Code
        <input type="text" name="shippingAddress.zipCode" />
      </label>
    </div>

    <button type="submit">SUBMIT</button>
  </label>
</form>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = {
      username: form.username.value,
      firstName: form.firstName.value,
      lastName: form.lastName.value,
      age: form.age.value,
      phone: form.phone.value,
      email: form.email.value,
      password: form.password.value,
      confirmPassword: form.confirmPassword.value,
      shippingAddress: {
        number: form.shippingAddress.number.value,
        city: form.shippingAddress.city.value,
        state: form.shippingAddress.state.value,
        zipCode: form.shippingAddress.zipCode.value,
      },
    };

    console.log(formData);
    try {
      const res = await fetch("/api/users/register", {
        method: "POST",
        body: JSON.stringify(formData),
        headers: { "Content-Type": "application/json" },
      });

      const response = await res.json();
      console.log(response);
    } catch (error) {
      console.log(error);
    }
  });
</script>
